<!DOCTYPE html>
<%- include('./partials/navbar.ejs', {
  user: user
  }) %>
<body class="homePage">
      <header class="welcomeDisplay">
        <h1 class="welcomeDisplay">
          Welcome to Shot List 
        </h1>
        <p class="landingText">A place for film fans to learn, </br>
          and contribute to their favorite films' technical specs</p>
      </header>
  </body>
</html>
