<!DOCTYPE html>
<%- include('./partials/navbar.ejs', {
  user: user
  }) %>

      <header class="welcomeDisplay">
        <h1 class="welcomeDisplay">
          Welcome to Shot List 
        </h1>
      </header>
  </body>
</html>
