<!DOCTYPE html>
<%- include('./partials/navbar.ejs', {
  user: user
  }) %>
 
  <h4 class="loginDisplay">Login Here</h4>

  <form class="loginForm" action="/auth/login" method="POST">
    <input type="text" name="username" placeholder="username"><br>
    <input type="email" name="email" placeholder="email"><br>
    <input type="password" name="password" placeholder="password"><br>
    <button type="submit">Login Fellow Geek</button>
  </form>

  </body>
</html>
