<!DOCTYPE html>
<%- include('./partials/navbar.ejs', {
  user: user
  }) %>

        


    <header>
      <h1>Register for Shot List </h1>
    </header>

  <h4 class="registerMsgDisplay">Register Here</h4>
  <form class="regForm" action="/auth/registration" method="POST">
    <input type="text" name="username" placeholder="username"><br>
    <input type="email" name="email" placeholder="email"><br>
    <input type="password" name="password" placeholder="password"><br>
    <button type="submit">Register</button>
  </form>


  </body>
</html>
