<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
      <header class="cam-Geek-Header">
          <h1>Shot List </h1> 
    </header>

    <header>
      <h1>Register for Shot List </h1>
    </header>

  <h4>Registration</h4>
  <form action="/auth/registration" method="POST">
    <input type="text" name="username" placeholder="username"><br>
    <input type="email" name="email" placeholder="email"><br>
    <input type="password" name="password" placeholder="password"><br>
    <button type="submit">Register</button>
  </form>


  </body>
</html>
