
/* NAV GRAPHICS  */

.shotListTitle a{
    display: fixed; 
    color: white;
    font-family: 'Fredericka the Great', cursive;
    font-size: 45px; 
    letter-spacing: 3px;
    text-decoration: none; 
    text-shadow: 3px black;
    left: 0px; 
    margin-left: 10px; 
} 
.parallelogram {
    display: fixed; 
    position: fixed;
    left: -4em;
    top: 85px;
    width: 90%;
	height: 45px;
	transform: skew(-30deg);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgb(155, 155, 155) 100%, rgba(242,242,242,1) 100%);
    border: 1px solid white;
    font-size: 30px;  
}

.parallelogram2{
    display: flex; 
    position: fixed;
    align-items: center; 
    margin-right: -4em; 
    top: 85px;
    width: 60%;
    font-size: 20px; 
	height: 50px;
	transform: skew(-30deg);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgb(155, 155, 155) 100%, rgba(242,242,242,1) 100%);
    border: 1px solid white; 
}
.parallelogram h1 { 
    align-items: center;

}
.parallelogram2 a{ 
    transform: skew(30deg);
}
.userGreeting{
    font-size: 25px; 
    margin-left: 15%; 
    top: 0%; 
    color: whitesmoke;
    text-transform: uppercase;
    transform: skew(30deg);
    font-family: Arial, Helvetica, sans-serif; 
}
body {
    margin: 100rem 0 0 0;
    margin-top: 0px; 
    height: 77rem;
}

body, html { 
    margin: 5rem 0 0 0;
    padding: 0; 
    height: 100%; 
    width: 100%; 
    background-color: black; 
}

.nav {
    position: fixed;
    border-bottom: 1px solid black;
    width: 100%;
    top: 0;
    background:linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(85,0,255,1) 100%, rgba(242,242,242,1) 100%);
    border-bottom: 1px solid white; 
    z-index: 1; 
}

.nav-header {
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    padding: px;
    align-items: center;
}
    
.nav-left {
    width: 33.333%;
    text-align: left;
    padding: 15px;
}
.nav-center {
    width: 33.333%;
    text-align: center;
}
.nav-link:hover {
    color: dodgerblue;
    cursor: pointer;
}

.nav-link {
    text-decoration: none;
    margin-left: 3%;
    text-transform: uppercase;
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
}

.hamburger-menu {
    width: 40px;
    height: 25px;
    position: relative;
    margin: 14px 15% 0 auto;
    z-index: 2; 
    display: none;
}
  
.bar {
display: block; 
position: absolute;
width: 25px;
height: 3px;
left: 0;
border-radius: 6px;
background-color:white;
transition: all .50s ease-in-out;
}
  
.bar:nth-child(1) {
top: 0px;
}

.bar:nth-child(2) {
top: 22.5%
}

.bar:nth-child(3) {
top: 45%;
}

.open > .bar {
transition: all .50s ease-in-out;
background-color: white;
}

.open > .bar:nth-child(1) {
top: 45%;
transform: rotate(135deg);
}

.open > .bar:nth-child(2) {
left: -60px;
opacity: 0;
}

.open > .bar:nth-child(3) {
transform: rotate(-135deg);
}

.overlay {
height: 100%;
width: 100%;
position: fixed;
background-color: rgba(0, 0, 0, 0.698);
top: 0;
left: -123rem;
z-index: 1;
transition: all .60s ease-in-out;
}

.overlay.show {
left: 0;
}

.overlay-content {
display: flex;
position: relative;
top: 15%;
width: 100%;
text-align: center;
margin-top: 30px;
flex-direction: column;
}

.overlay-link {
color: white;
text-decoration: none;
font-size: 36px;
}

@media (max-width: 822px) {
.hamburger-menu {
    display: block;
}

.nav-right > a {
    display: none;
}
.nav-right {
    width: 40%;
}
.nav-left {
    width: 60%;
}
.nav-center {
    width: 0%;
}

}  

img { 
    height: 360px; 
    width: 240px; 
    max-width: 240px; 
    max-height: 360px;
    padding: 5px; 
    opacity: .7; 
    border: 1px solid white; 

}


/* LOGIN,REGISTER,HOME PAGE BUTTONS/LINKS */

.logOut { 
    color: white; 
}
.welcomeDisplay, .welcomeDisplay h1{
    position: flex; 
    top: 175px;
    left: 150px;  
    color: white; 
    font-family: 'Fredericka the Great', cursive;
    text-align: center; 
   
}
.logOutUser, .logOutUser a {
    position: relative; 
    top: -10px;
    left: 490px; 
    margin: 0,10px,0,0;  
    right: 10px; 
    color:yellow;  
    font-size: 20px; 
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none; 
    text-shadow: 2px 2px solid black ;
}
.registerUser a{
    position: relative; 
    top: 33px;
    left: 490px; 
    margin: 0,10px,0,0;  
    right: 10px; 
    color: whitesmoke; 
    font-size: 20px; 
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none; 
}
.registerUser a:hover{ 
    color: grey; 
}
.loginUser a{
    position: relative; 
    top: -3px;
    left: 670px; 
    margin: 0,10px,0,0;  
    right: 10px; 
    color: whitesmoke; 
    font-size: 20px; 
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none; 
}
.loginUser a:hover{
    color: grey; 
}
.loginDisplay{
    color: white; 
    font-family: 'Fredericka the Great', cursive;
    text-align: center; 
    font-size: 30px; 
    top: 0; 
}
.registerMsgDisplay {
    color: white; 
    font-family: 'Fredericka the Great', cursive;
    text-align: center; 
    font-size: 30px; 
    top: 0; 
}
.regForm{
    text-align: center; 
}
.regForm input{ 
    background-color: rgba(62, 0, 177, 0.603); 
    color: white;
}

.loginForm{
    text-align: center;
}

.loginForm input{ 
    background-color: rgba(62, 0, 177, 0.603); 
    color: white;
}

/* MOVIE SHOW PAGE */
.movieShowPagePoster img{
    opacity: 1; 
    padding: 0; 
    border: 1px solid white;
}
img:hover {  
    opacity: 1;  
}

.hidden-info {
    display: none;
}
.moviesToHomeRoute a{
    position: relative; 
    top: 37px;
    left: 490px; 
    margin: 0,10px,0,0;  
    right: 10px; 
    color: whitesmoke; 
    font-size: 20px; 
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none; 
}

.cam-Geek-Header h1{
    position: absolute; 
    top: -5px; 
}
.siteTitle {
    top: 20px; 
}

.homeRoute a{
    position: relative; 
    top: 38px;
    left: 490px; 
    margin: 0,10px,0,0;  
    right: 10px; 
    color: whitesmoke; 
    font-size: 20px; 
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none; 
}

.goToNewMoviePage a{
    top: -104px;
    left: 670px; 
    margin: 0,10px,0,0;  
    right: 10px; 
    color: whitesmoke; 
    font-size: 20px; 
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none; 
}
.backToUsers a {  
    position: relative; 
    top: -128px;
    left: 970px; 
    margin: 0,10px,0,0;  
    right: 10px; 
    color: whitesmoke; 
    font-size: 20px; 
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none; 
}

.moviesLink a{
    position: absolute;
    top: 79px; 
    left: 600px; 
    color: whitesmoke; 
    font-size: 20px; 
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none; 

}
.backToMovies {
  color: white; 
  text-decoration: none; 
  font-size: 20px; 
  font-family: Arial, Helvetica, sans-serif;
  position: absolute; 
  left: 720px; 
  top: 80px; 
}
.usersLink a{
    position: absolute; 
    top: 79px; 
    left: 720px; 
    color: whitesmoke; 
    font-size: 20px; 
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none; 
}

.usersOverview a{
    color: whitesmoke;
    text-decoration: none; 
    font-size: 20px; 
}

.usersOverview img {
        display: flex;
        position: flex;  
        background-color: rgba(62, 0, 177, 0.603); 
        max-width: 500px; 
        width: 150px;
        height: 150px; 
        max-height: 500px; 
        padding: 5px; 
        object-fit: fill;
        border: .5px solid white; 
}

/* USER SHOW PAGE  */

.container{
    display: flex; 
    align-items:center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.movieCard, .movieimages{
    display: flex; 
    flex-direction: column;    
}
.displayBigPosterBtn{
    display: flex; 
    flex-direction: row; 
    
}
.displayBigPosterBtn button{
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(85,0,255,1) 100%, rgba(242,242,242,1) 100%);
    color: whitesmoke;
}
.removeFromWatchListBtn{
    display: flex; 
    flex-direction: row; 

    
}
.removeFromWatchListBtn button{
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(85,0,255,1) 100%, rgba(242,242,242,1) 100%);
    color: whitesmoke;
}
.watchListTitle{
    color: white; 
    text-align: center;
    font-size: 40px; 
    top: 350px; 
    left: 500px; 
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(85,0,255,1) 100%, rgba(242,242,242,1) 100%);
}

.profilePic {
    max-height: 180px; 
    width: auto; 
    left: 0px; 
    border: solid rgba(62, 0, 177); 
    border-radius: 4px auto;  
}

.username{
    left: 300px;
    top: 120px;  
    color: white; 
    font-family: Arial, Helvetica, sans-serif;
}
.showBackToUsersBtn {
    position: absolute;
    left: 250px; 
    width: 125px; 
}

.favGenres{
    color: white; 
    top: 175px; 
    left: 300px; 
    z-index: 1;
    font-family: Arial, Helvetica, sans-serif;
}
.userProfDelete{
    left: 130px; 
    top: 320px; 
    width: 125px; 
    color: palevioletred;
    background-color: gold; 
}
.userShowEditBtn{
    position: flex; 
    height: 18px; 
    width: 125px; 
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none; 
}
.userShowEditBtn button:hover{
    background-color: grey; 
    color: white; 
}



/* Movie Index Page */
.recentUpdatesDisplay{
    color: white; 
    text-align: center; 
    font-family: 'Fredericka the Great', cursive;
}
/* Movie Show page */
.movieDetails{
    display: flex;
    position: flex; 
    flex-direction: row; 
    top: 0em; 
    color: white;  
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 20px; 
}
.movie-Column{
    display: flex; 
    position: flex; 
    flex-direction: column;
    padding: 2em; 
}
.movieEditBtn {
    display: flex; 
    positon: flex; 
    top: 0; 
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(85,0,255,1) 100%, rgba(242,242,242,1) 100%);
    height: auto;  
    width: auto; 
}
.movieEditBtn a{
    font-size: 30px; 
    text-decoration: none; 
    color: white;
}
.movieEditBtn:hover{ 
    background: grey; 
}
.movieTitle{
    position: flex; 
    font-size: 50px; 
    color: white; 
    font-family: Arial, Helvetica, sans-serif;
    left: 350px; 
    top: 145px; 
}
.movieSynopsis{
    position: flex; 
    left: 350px; 
    color: white; 
    font-family: Arial, Helvetica, sans-serif; 
    top: 205px; 
}

/* New Movie Page */
.newMovieForm{
    color: white; 
    text-align: center; 
    top: 50px; 
    font-size: 35px; 
    font-family: Arial, Helvetica, sans-serif; 
}
.newMovieForm input { 
    background-color: rgba(62, 0, 177, 0.603); 
    color: white; 
    text-align: center; 
    box-shadow: 3px white; 
}

.goToMoviePage a{
    position: relative; 
    top: -33px;
    left: 670px; 
    margin: 0,10px,0,0;  
    right: 10px; 
    color: whitesmoke; 
    font-size: 20px; 
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none; 
}
.toUsersFromNewMovie a{
  
    margin: 0,10px,0,0;  
    color: whitesmoke; 
    font-size: 20px; 
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none; 
}
.movieDetailsFlair{
    color: grey; 
}
.movieEditForm span { 
    color: grey; 
}
.movieEditForm{
    position: flex; 
    color: white; 
    left: 350px; 
}
.movieEditForm input{ 
    background-color: rgba(62, 0, 177, 0.603); 
    color: white; 
    text-align: center; 
    box-shadow: 3px white; 
}
.editUserForm input { 
    background-color: rgba(62, 0, 177, 0.603); 
    color: white; 
    text-align: center; 
    box-shadow: 3px white; 
}
.editUserForm{ 
    color: grey; 
    text-align: center; 
}
.backToMovieShowPage{
    position: flex; 
    color: white; 
    text-decoration: none; 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px; 
}
.toUsersFromMovieIndx a{
    color: white; 
    position: absolute;
    left: 900px; 
    top: 80px; 
    text-decoration: none; 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px; 
}

.backToMovieShowPage:hover { 
    color: grey; 
}
.backToUsers{
    position: absolute; 
    color: white; 
    text-decoration: none; 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px; 
    top: 80px; 
    left: 900px; 
}
.movieEditMsgDisplay{
    color: white; 
    text-align: center; 
    font-family: 'Fredericka the Great', cursive;
}       

.userWelcome{
    color: white; 
}