<!DOCTYPE html>
<%- include('../partials/navbar.ejs', {
    user: user
    }) %>

    <div class="container">
        <div class="usersOverview">
            </br> <% for(let i =0; i < users.length; i++){%>
                <a class = "userNameList" href="/users/<%=users[i]._id%>">
            </br><%=users[i].username%></br><img class="img-responsive" src=<%=users[i].profilePic%>></br>
                </a>
            <%}%>
        </div>
    </div>
   
</body>
</html>